.body{
    width: 100vw;
    min-height: 80%;
    background-color: #f2f2f2;
    margin: 0;
}

main{
    background-color: transparent;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.content{
    width: 60vw;
}

.footer{
    height: 30vh;
    margin-top: 10vh;
    border-top: 1px solid rgba(0, 0, 0, 5%);
}

.footer__upper{
    height: 20vh;
}

.footer__lower{
    height: 10vh;
    background-color: #7c7c7c;
}

/****************** ITEMS ******************/

.product-catalog__cover{
    width: 45vw;
    min-height: 80vh;
    margin-top: 4vh;
}

.product-catalog{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2.4rem;
}
.a-product__text{
    text-decoration:none;
    font-family: Trebuchet MS, sans-serif;
}

.a-product__text:hover{
    background-color: #7c7c7c;
}


.product-content__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-product__brand{
    color: black;
    margin-top: 15px;
    margin-bottom: 4px;
}

.h3-product__price{
    color: black;
    margin-top: 25px;
    margin-bottom: 4px;
}

.h5-product__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7c7c7c;
    margin-top: 3px;
    margin-bottom: 0px;
}

.product-card{
    width: auto;
}
