.product-catalog__cover{
    width: 45vw;
    min-height: 80vh;
    margin-top: 4vh;
}

.product-catalog{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2.4rem;
}

.product-card{
    width: auto;
}

.product-content__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2-product__text{
    margin-top: 4px;
    margin-bottom: 4px;
}

.h4-product__text{
    margin-top: 3px;
    margin-bottom: 6px;
}