.product-data__cover{
    width: 60vw;
    min-height: 50vh;
    margin-top: 4vh;
}

.product-data{
    min-height: 50vh;
    display: flex;
}

.pictures-section{
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    width: 42vw;
}

.data-section{
    min-height: 50vh;
    width: 18vw;
}

.detailed-item__img{
    width: 681px;
    height: 681px;
}

.detailed-item__icon{
    width: 48px;
    height: 48px;
}

.data-section{
    background-color: aliceblue;
    border-radius: 5px;
}