<html class="html">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="D:\Python\Road_map\Work\Flask_training\static\css\instruction.css">
        <img src="stylesheet" alt="">
        <title>Frame</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </head> 
    <body class="body">
        <nav class="icon">
            <div class="navLeft"></div>
                <div class="container-fluid">
                    <img src="img\icon_pro.jpg" alt="" class="ff">
                </div>
            <div class="navRight"></div>
        </nav>
        <header class="sticky">
            <button class="button" type="button">О космосе</button>
            <button class="button" type="button">О котиках</button>
            <button class="button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Уведомления</button>
            <button class="button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">PRO_всё</button>
        </header>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">PRO_Вселенную</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                <a class="url_margin" href="news_2.html">уа</a>
                <a class="url_margin" href="news_1.html">уа</a>
                <a class="url_margin" href="news_4.html">Новости</a>
                <a class="url_margin" href="news_5.html">Новости</a>
                <a class="url_margin" href="news_6.html">Новости</a>
                <a class="url_margin" href="news_7.html">Новости</a>
                <a class="url_margin" href="news_8.html">Новости</a>
                <a class="url_margin" href="news_9.html">Новости</a>
                <a class="url_margin" href="news_10.html">Новости</a>
              </div>
            </div>
        </div>
        <main class="basic_main">
            <div class="TEXT">
                <section class="section_main">
                    <h3 class="">Как ухаживать за кроссовками: 15 важных советов</p>
                    <h5 class="">Покупая очередную пару кроссовок, каждый из нас глубоко в душе надеется радоваться долгожданной новинке не сезон и не два. И чем больше надежда, тем ощутимее горечь разочарования: кто угодно огорчился бы, отдав треть зарплаты за кроссовки, которые за пару месяцев превратились в блёклое месиво. Конечно, проще всего переложить вину на продавца или производителя, но во многом срок службы любых кроссовок зависит непосредственно от вас: от того, как вы носите, чистите и храните своих любимцев. Ниже я приведу ряд простых, но важных правил, которые помогут спасти вас от боли разочарований и продлить жизнь ваших любимых кроссовок.</h5>
                </section>
                <section class="section_next">
                    <h5 class="">Текс <br>. <br> . <br> . <br>. <br> . <br> . <br> . <br> .<br>. <br> . <br> . <br>. <br> . <br> . <br> . <br> .<br>. <br> . <br> . <br>. <br> . <br> . <br> . <br> .</h4>
                </section>
            </div>
            <div class="all_content-right">
                <h5 style="margin-bottom: 30px;">Реклама</h5>
                <div class="text_content-right">
                    <section class="side_bar">
                        <h6 class="h6_color-side_bar">ЧИТАТЬ ТАКЖЕ</h6>
                    </section>
                    <section class="side_bar_next">
                        <a href=""><h6 class="h7_margin-side_bar_next">Какой-то текст который очень важен и переводит на другой сайт так как потому что он важен и там калл</h6></a>
                    </section>
                    <section class="side_bar_next">
                        <a href=""><h6 class="h7_margin-side_bar_next">Какой-то текст который очень важен и переводит на другой сайт так как потому что он важен и там калл</h6></a>
                    </section>
                    <section class="side_bar_next">
                        <a href=""><h6 class="h7_margin-side_bar_next">Какой-то текст который очень важен и переводит на другой сайт так как потому что он важен и там калл</h6></a>
                    </section>
                    <section class="side_bar_next">
                        <a href=""><h6 class="h7_margin-side_bar_next">Какой-то текст который очень важен и переводит на другой сайт так как потому что он важен и там калл</h6></a>
                    </section>
                </div>
            </div>
        </main>
        <footer class="footer"></footer>
    </body>
</html>