<html class="html">
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <link rel="stylesheet" type="text/css" href="static/css/sneakers_main.css">
        <link rel="stylesheet" type="text/css" href="static/css/navbar_main.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </head>

    <body class="body" style="background-color: white;">
        <div class="navbar_main_cover">
            <nav class="navbar_main">
                <ul class="ul-navbar_main">

                    <li class="li-first">
                        <a href="/sneakers_main" class="a-navbar_main">
                            <picture>
                                <img src="static\img\logo.jpg" alt="">
                            </picture>
                        </a>
                    </li>

                    <li class="li-navbar_main">
                        <a href="#" class="a-navbar_main"> Новинки </a>
                    </li>

                    <li class="li-navbar_main">
                        <a href="#" class="a-navbar_main"> Бренды </a>
                    </li>

                    <li class="li-navbar_main">
                        <a href="/man" class="a-navbar_main"> Мужское </a>
                    </li>

                    <li class="li-navbar_main">
                        <a href="#" class="a-navbar_main"> Женское </a>
                    </li>

                </ul>

                    <!-- <div class="icon">
                        <img src="static\img\icon_img.png" alt="" class="ff">
                    </div> -->
            </nav>
            <div class="navbar_main_buttons">
                <button>
                    <img src="static\img\korzina.png" alt="">
                </button>
                <button>
                    <img src="static\img\profil.png" alt="">
                </button>
            </div>
        </div>

        <main>
            <div class="content">
                <div class="cover-img_man-woman">
                    <a href="/man">
                        <div>
                            <picture>
                                <img src="static\img\man.jpg" class="img-man_woman">
                            </picture>
                        </div>
                        <div class="title_img_men-women">
                            <h3>Мужское</h3>
                        </div>
                    </a>
                    <a href="">
                        <picture>
                            <img src="static\img\woman.jpg" class="img-man_woman">
                        </picture>
                        <div class="title_img_man-woman">
                            <h3>Женское</h3>
                        </div>
                    </a>
                </div>
                <div class="product-catalog__cover">
                    <div class="product-catalog__sneakers-main">
                            <!--------------------------  0  -------------------------->
                        <div class="product-card">
                            <div class="product-card__overlay">
                                <a href="">
                                    <div class="product-content__img">
                                        <picture>
                                            <img src={{data["img"][0]}} style="height: 248px; width: 248px;">
                                        </picture>
                                    </div>
                                    <div class="product-content__text">
                                        <h2 class="h2-product__text"> {{data["brand"][0]}} </h2>
                                        <h4 class="h4-product__text"> {{data["gender"][0]}} <br> {{data["name"][0]}} </h4>
                                        <h2 class="h2-product__text"> {{data["price"][0]}} </h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                            <!--------------------------  1  -------------------------->
                        <div class="product-card">
                            <div class="product-card__overlay">
                                <a href="">
                                    <div class="product-content__img">
                                        <picture>
                                            <img src={{data["img"][1]}} style="height: 248px; width: 248px;">
                                        </picture>
                                    </div>
                                    <div class="product-content__text">
                                        <h2 class="h2-product__text"> {{data["brand"][1]}} </h2>
                                        <h4 class="h4-product__text"> {{data["gender"][1]}} <br> {{data["name"][1]}} </h4>
                                        <h2 class="h2-product__text"> {{data["price"][1]}} </h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                            <!--------------------------  2  -------------------------->
                        <div class="product-card">
                            <div class="product-card__overlay">
                                <a href="">
                                    <div class="product-content__img">
                                        <picture>
                                            <img src={{data["img"][2]}} style="height: 248px; width: 248px;">
                                        </picture>
                                    </div>
                                    <div class="product-content__text">
                                        <h2 class="h2-product__text"> {{data["brand"][2]}} </h2>
                                        <h4 class="h4-product__text"> {{data["gender"][2]}} <br> {{data["name"][2]}} </h4>
                                        <h2 class="h2-product__text"> {{data["price"][2]}} </h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                            <!--------------------------  3  -------------------------->
                        <div class="product-card">
                            <div class="product-card__overlay">
                                <a href="">
                                    <div class="product-content__img">
                                        <picture>
                                            <img src={{data["img"][3]}} style="height: 248px; width: 248px;">
                                        </picture>
                                    </div>
                                    <div class="product-content__text">
                                        <h2 class="h2-product__text"> {{data["brand"][3]}} </h2>
                                        <h4 class="h4-product__text"> {{data["gender"][3]}} <br> {{data["name"][3]}} </h4>
                                        <h2 class="h2-product__text"> {{data["price"][3]}} </h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>